<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">


<head>
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href=@{/css/style.css} type="text/css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
<div class="header">
    <h1> Insure yourself </h1>
    <h3> --generator </h3>

</div>

<div class="navbar" id="navbar">
    <a class="active" th:href=@{/}><i class="fa fa-fw fa-home"></i> Home</a>
    <a th:href="@{/show}"><i class="fa fa-calculator" aria-hidden="true"></i> Create calculate </a>
    <a th:href=@{/showCalculate}><i class="fa fa-fw fa-envelope"></i>Send Mail</a>


    <div class="search-container">
        <form action="#" th:action="@{/search}" th:object="${search}" >
            <label for="search_input"></label><input type="text" placeholder="search here..." name="search" id="search"> </input>
            <button type="submit"><i class="fa fa-search"></i></button>


        </form>
    </div>


    <div class="dropdown">
        <button class="dropbtn"><i class="fa fa-list-ul"></i> Menu
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a th:href="@{/myAllCalculates/page/0}">All calculates</a>
            <a th:href="@{/myLastCalculate}">Last calculate</a>
            <a th:href="@{/uploadClients}">Import clients</a>

        </div>
    </div>

    <div class="loginForm" >
        <a class="#" th:href="@{/loginform}"><i class="fa fa-fw fa-user"></i> Login</a>

    </div>



</div>

<script >
    window.onscroll = function() {
        myFunction1()
    };

    var navbar = document.getElementById("navbar");
    var sticky = navbar.offsetTop;

    function myFunction1() {
        if (window.pageYOffset >= sticky) {
            navbar.classList.add("sticky")
        } else {
            navbar.classList.remove("sticky");
        }
    }

    window.addEventListener('scroll', stickyNavigation);

</script>

<div style="padding-left: 16px"></div>
<div class="content">

    <h1>Registration form</h1>
    <form action="#" method="post" th:action="@{/register}" th:object="${user}">
    <input th:field="*{firstName}" placeholder="First Name" /><br />
    <input th:field="*{lastName}" placeholder="Last Name" /><br />
    <input th:field="*{email}" type="email" placeholder="Email" /><br />
    <input th:field="*{password}" type="password" placeholder="Password" /><br />
    <input type="submit" value="Register" />

        <br>

        <p  th:errors="*{firstName}" style=" color: #FF2133">err</p>
        <p  th:errors="*{lastName}" style=" color: #FF2133" >err</p>
        <p  th:text="${user.getFirstName() != null &&
                      user.getLastName() != null &&
                      user.getPassword() != null &&
                      user.getEmail() == ''} ? 'Incorrect email structure or such email already exists' : ''" style="color: #FF2133"> sameVal</p>
        <p  th:errors="*{password}" style=" color: #FF2133" >err</p>




    </form>
    </div>

<div class="footer">
    <a class="phone"><i class="fa">&#xf095;</i>
        +48 111 222 333</a>
    <a class=contact_mail><i class="fa fa-fw fa-envelope"></i>
        tania_polisa@oc.pl</a>

</div>

</body>

</html>
